* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(0, 0, 0);
  align-items: center;
  /* justify-content: space-between; */
}

#ticker-content {
  width: 50vw;
  color: white;
  list-style: none;
  font-family: "Varela Round", sans-serif;
  font-size: small;
}

#img-container {
  display: flex;
  height: 20vh;
  width: 100%;
  justify-content: center;
}

#crypto-name-container {
  text-align: center;
  /* display: flex;
  flex-direction: column-reverse; */
  height: 10vh;
  width: 100%;
  /* align-items: center;
  justify-content: space-between; */
}

#crypto-price-container {
  text-align: center;
  height: 10vh;
  width: 100%;
}

#price {
  font-family: "Varela Round", sans-serif;
  color: white;
  font-size: xx-large;
}

#search-container {
  text-align: center;
  height: 25vh;
  width: 100%;
}

.search {
  height: 25px;
  width: 150px;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid white;
  background-color: rgb(0, 0, 0);
  color: white;
}
.search:focus {
  outline: none;
}

button {
  height: 30px;
  width: 100px;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  background-color: rgb(24, 24, 24);
  color: white;
  border: none;
}

button:active {
  background-color: rgb(53, 53, 53);
}

button:hover {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
